{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('edit_profile', user_id=user.id) }}">
    <div class="form-group">
        {{ form.username.label }}
        {% if form.username.errors %}
        {{ form.username(class_='form-control is-invalid') }}
        <div>
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        </div>
        {% else %}
        {{ form.username(value=user.username, class_='form-control') }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.role.label }}
        {{ form.role(class_="form-control") }}
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-secondary" onclick=window.location.href='{{ url_for('users_index') }}';>Return</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-danger" onclick=window.location.href='{{ url_for('delete_profile', user_id=user.id) }}';>Delete user</button>
    </div>
</form>
<div class="form-group">
    <h3>Users projects</h3>
    {% if count < 1 %}
    <div>
        <small>This user doesn't have projects</small>
    </div>
    {% else %}
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Project name</th>
            <th scope="col">Task count</th>
          </tr>
        </thead>
        <tbody>
        {% for t in tasks %}
          <tr>
            <td>{{ t.project_name }}</td>
            <td>{{ t.count }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}