{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('signup_form') }}">
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
      <td>
       <ul>
       {% if form.username.errors %}
       {% for error in form.username.errors %}
        <li>{{ error }}</li>
       {% endfor %}
       {% endif %}
       </ul>
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
      <td>
       <ul>
       {% if form.password.errors %}
       {% for error in form.password.errors %}
        <li>{{ error }}</li>
       {% endfor %}
       {% endif %}
      </ul>
      </td>
    </tr>
    <tr>
      <td>
	{{ form.repassword.label }}
      </td>
      <td>
	{{ form.repassword }}
      </td>
      <td>
       <ul>
       {% if form.repassword.errors %}
       {% for error in form.repassword.errors %}
        <li>{{ error }}</li>
       {% endfor %}
       {% endif %}
      </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Sign up"/>
      </td>
    </tr>
</form>
{% endblock %}
