{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Active</th>
      <th>State</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.active }}</td>
      <td>{{ task.state }}</td>
      {% if task.active == False and task.state == "To do" %}
      <td>
        <form method="POST" action="{{ url_for('activate_task', task_id=task.id) }}">
          <input type="submit" value="Start task"/>
        </form>
      </td>
      {% elif task.active == True %}
      <td>
        <form method="POST" action="{{ url_for('complete_task', task_id=task.id) }}">
          <input type="submit" value="Complete task"/>
        </form>
      </td>
      {% else %}
      <td>
        
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}