{% extends "layout.html" %}

{% block body %}
  {% for c in count %}
  {% if c.state == "To-do" %}
  <h2>To-Dos ({{ c.count }}) </h2>
  {% else %}
  <h2>To-Dos</h2>
  {% endif %}
  {% endfor %}
  <table>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Labels</th>
    </tr>
    {% for task in tasks %}
    {% if task.state == "To-do" %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.deadline }}</td>
      <td>{% for l in task.labels %}
        {{ l.name }}
        {% endfor %}
      </td>
      <td>
        <form method="POST" action="{{ url_for('activate_task', task_id=task.id) }}">
          <input type="submit" value="Start task"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
          <input type="submit" value="Delete task"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <br>
  {% for c in count %}
  {% if c.state == "In progress" %}
  <h2>In Progress ({{ c.count }}) </h2>
  {% else %}
  <h2>In Progress</h2>
  {% endif %}
  {% endfor %}
  <table>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Labels</th>
    </tr>
    {% for task in tasks %}
    {% if task.state == "In progress" %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.deadline }}</td>
      <td>{% for l in task.labels %}
        {{ l.name }}
        {% endfor %}
      </td>
      <td>
        <form method="POST" action="{{ url_for('complete_task', task_id=task.id) }}">
          <input type="submit" value="Complete task"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
          <input type="submit" value="Delete task"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <br>
  {% for c in count %}
  {% if c.state == "Completed" %}
  <h2>Completed ({{ c.count }}) </h2>
  {% else %}
  <h2>Completed</h2>
  {% endif %}
  {% endfor %}
  <table>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Finished</th>
      <th>Labels</th>
    </tr>
    {% for task in tasks %}
    {% if task.state == "Completed" %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.date_modified }}</td>
      <td>{% for l in task.labels %}
        {{ l.name }}
        {% endfor %}
      </td>
      <td>
        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
          <input type="submit" value="Delete task"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}